.weather-card{
  height: 400px;
  background-color: LightGray;
  border: 1px solid black;
  padding: 20px;
}

.weather-city-name {
  font-size: 30px;
}
.weather-day {
  font-size: 25px;
}

.weather-description {
  font-size: 20px;
}

.weather-icon {
  width: 180px;
}

.weather-temp-info {
  font-size: 50px;
}

.weather-info {
  font-size: 15px;
}
